In [2]:
#EXCHANGE  STRING
s=str(input("enter the string: "))
a=s[0]
c=s[-1]
b=c+s[1:-1]+a
print("string is:",b)

enter the string: PYTHON
string is: NYTHOP

In [6]:
#A NEW STRING FROM TWO STRING AND  SWAP FIRST TWO CHARACTER
a1=str(input("enter the first string: "))
a2=str(input("enter the second string: "))
print("result string:",a1,a2)
x=a1[0:2]
z=a2[0:2]
a3=z+a1[2:]
a4=x+a2[2:]
print("new string is :",a3,a4)

enter the first string: mohammed
enter the second string: jaseem
result string: mohammed jaseem
new string is : jahammed moseem

In [15]:
#REPALCE  THE LETTER WITH $
s=str(input("enter the string:"))
a=s[0]
b=s[1:]
st=b.replace(a,"$")
ns=s[0] + st
print("new string:",ns)

enter the string:MALAYALAM
new string: MALAYALA$

In [2]:
#PRINT FIRST AND LAST COLOR
s=str(input("enter the color:"))
p=s.split(",")
print("the first color:",p[0])
print("the first color:",p[-1])

enter the color:red,black,white
the first color: red
the first color: white

In [4]:
#FILENAME EXTENSION
s=str(input("enter the file name:"))
p=s.split(".")
print("THE EXTENSTION FILE IS:",p[-1])

enter the file name:mj.c
THE EXTENSTION FILE IS: c

In [5]:
#TUPLE OF 3RD ELEMENT
my_tuple=tuple(input("enter the numbers:").split(","))
third_element = my_tuple[2]
third_from_last = my_tuple[-3]
print("3rd element:", third_element)
print("3rd element from last:", third_from_last)

enter the numbers:10,20,30,40,50,60
3rd element: 30
3rd element from last: 40

In [22]:
#COLORSET1-COLORSET2
f = set(input("Enter colors for set f : ").split(","))
s = set(input("Enter colors for set s : ").split(","))
difference_f_s = f - s
print(f'Difference of {f} and {s}: {difference_f_s}')

Enter colors for set f : red,green,blue
Enter colors for set s : red,green,black
Difference of {'blue', 'red', 'green'} and {'black', 'red', 'green'}: {'blue'}

In [6]:
#ASCENDING AND DESCENDING 
p=input("enter the roll  number:").split(',')
name=input("enter the names:").split(',')
t={p[0]:name[0],p[1]:name[1],p[2]:name[2]}
print("dict",t)
s=dict(sorted(t.items(),reverse=True))
print("sorted dict",s)

enter the roll  number:1,2,3
enter the names:MJ,JJ,JM
dict {'1': 'MJ', '2': 'JJ', '3': 'JM'}
sorted dict {'3': 'JM', '2': 'JJ', '1': 'MJ'}

In [8]:
#MERGE TO DICTIONARIES
dic1 = {
    'student1': input("Enter the name of student 1: "),
    'student2': input("Enter the name of student 2: "),
    'student3': input("Enter the name of student 3: ")
}
print("dic1",dic1)
dic2 = {
    'student4': input("Enter the name of student 4: "),
    'student5': input("Enter the name of student 5: ")
}
print("dic2",dic2)
merged_dict = {**dic1, **dic2}
print("\nMerged Dictionary:")
print(merged_dict)

Enter the name of student 1: mohammed
Enter the name of student 2: jasseem
Enter the name of student 3: linto
dic1 {'student1': 'mohammed', 'student2': 'jasseem', 'student3': 'linto'}
Enter the name of student 4: haseena
Enter the name of student 5: kiran
dic2 {'student4': 'haseena ', 'student5': 'kiran'}

Merged Dictionary:
{'student1': 'mohammed', 'student2': 'jasseem', 'student3': 'linto', 'student4': 'haseena ', 'student5': 'kiran'}

In [3]:
#-25 EVEN NUMBERS
num=range(0,25,2)
print(list(num))
print("sum of even numbers 0-25:",sum(num))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]
sum of even numbers 0-25: 156