In [1]:

a=int(input("enter any num:"))
g=a
sum=0
while(a!=0):
    d=a%10
    sum=sum+d
    a=a//10
print(sum)

enter any num:12345
15

In [5]:

n=str(input("enter the names:")).split(",")
print(set(n))
print(list(n))
print(tuple(n))
print(dict(enumerate(n)))

enter the names:malappuram,kozhikode,chenni,tirur,thrisur
{'tirur', 'malappuram', 'thrisur', 'chenni', 'kozhikode'}
['malappuram', 'kozhikode', 'chenni', 'tirur', 'thrisur']
('malappuram', 'kozhikode', 'chenni', 'tirur', 'thrisur')
{0: 'malappuram', 1: 'kozhikode', 2: 'chenni', 3: 'tirur', 4: 'thrisur'}

In [2]:
 
p=input("enter the emp_id:").split(',')
name=input("enter the emp_names:").split(',')
t={p[0]:name[0],p[1]:name[1],p[2]:name[2],p[3]:name[3],p[4]:name[4]}
print("sorted",t)
s=dict(sorted(t.items(),reverse=True))
print("decending dict",s)

enter the emp_id:1,2,3,4,5
enter the emp_names:jaseem,linto,jishad,roshan,aswin
sorted {'1': 'jaseem', '2': 'linto', '3': 'jishad', '4': 'roshan', '5': 'aswin'}
decending dict {'5': 'aswin', '4': 'roshan', '3': 'jishad', '2': 'linto', '1': 'jaseem'}

In [24]:
a=int(input("enter a number:"))
b=a
r=0
while(a!=0):
    d=a%10
    r=r*10+d
    a=a//10
if  b==r:
    print(f"{b} it is palendrome")
else:
    print(f"{b} not palendrome")

enter a number:1221
1221 it is palendrome

In [22]:
p=input("enter the emp_id:").split(',')
name=input("enter the emp_names:").split(',')
t={p[0]:name[0],p[1]:name[1],p[2]:name[2],p[3]:name[3],p[4]:name[4]}
s=dict(sorted(t.items()))
print(" dict",s)

enter the emp_id:1,2,3,4,5
enter the emp_names:jjaseem,linto,jasir,roshan,kiran
 dict {'1': 'jjaseem', '2': 'linto', '3': 'jasir', '4': 'roshan', '5': 'kiran'}